.btn {
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
